h1, h3 {
    color: magenta;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -35px;
    line-height: 1;
    text-align: right;
    background-color: green;
}

p {
    color: magenta;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: end;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 100px;
}

ul, ol {
    margin: 20px;
    padding: 0;
    color: blueviolet
}

li {
    font: 50 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 50px solid green;
}

li:last-child {
    border: none;
}

form {
    height:300px;
    width:10px;
    margin:auto;
    border:1px #CCC solid;
    padding:200px;
    background-color: black;
}
    
input, textarea {
    padding:25px;
    margin:25px
}